<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Dear user,</p>
    <p>
      Thank you for registering on our site, we hope you will have a great
      entertainment through our site, we are offering a {{days}}-day free trail
      on your account to gain unlimited access to all our features during this
      period. Relax your fall back into your chair/sofa/bed enjoy binge
      watching. Have a great day
    </p>
    <p>Thank you, <b>Site Admin</b></p>
  </body>
</html>
